.fun {
  width: 48.5%;
  padding: 27px 20px;
  margin-bottom: 30px;
  box-sizing: border-box;

  background: #FFFCFC;
  border: 1px solid rgba(228, 228, 228, 0.96);
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.fun__header {
  margin: 0 0 15px;
  padding: 0 0 5px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;

  border-bottom: 1px solid #E4E4E4;
}

.fun__img {
  width: 100%;
}

.fun__author {
  margin-bottom: 8px;
  padding: 0 7px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.fun__meta {
  display: flex;
  padding: 0 7px;
  align-items: center;
}

.fun__rate {
  margin-right: 20px;
}

.fun__comments {
  position: relative;

  margin-right: auto;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 40px;

    width: 25px;
    height: 30px;

    background: url('../img/list.svg');
  }
}

.fun__play {
  width: 45px;
  height: 45px;
  margin-left: auto;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url('../img/play.svg');
  background-position: 15px 9px;
  background-repeat: no-repeat;

  cursor: pointer;

  &:hover {
    background-color: #C2C2C2;
    background-image: url('../img/play-hover.svg');
  }
}

@media (max-width: $tablet-width) {
  .fun {
    width: 100%;
  }
}