.funs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 23px 45px;
}

.funs__processing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;

  &--hide {
    display: none;
  }
}

.funs__processing-text {
  margin-top: 10px;

  font-family: Lato;
  font-style: normal;
  font-size: 45px;

  animation: blink 0.7s infinite alternate;
}

.funs__header {
  width: 100%;
  margin: 14px 8px 17px;
  padding: 0;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.funs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.funs__error {
  width: 100%;

  font-family: Lato;
  font-style: normal;
  font-size: 45px;
  text-align: center;
  color: red;
}

.funs__more {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, .6);
  }

  &--hide {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .funs {
    padding: 14px 11px 34px;
  }
}